@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Saira Condensed';
    font-weight: bold;
    font-size: 32px;
    color:#162844;
    line-height: 110%;
}

*, html {
    margin:auto;
}

body {
    font-family: 'Saira Condensed';
    font-size:24px;
    line-height:110%;
    background-color: white;
}

header {
    height: 250px;
    background-color:#162844;
    font-size:32px; 
    line-height:64px;
    text-decoration: none; 
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}

footer {
   padding: 70px 0;
   width:100%;
   background-color: #162844;
}

.container {
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 50px;
    background-color: white;
}

img {
    width:500px;
    height:350px;   
}

.img-col {
    flex-basis: 30%;
    padding: 10px;
    margin-left: 58px;
    
}

.text-col {
    padding:10px;
    margin-left: 58px;
}

li {
    float: left;
    margin: 15px;
}

a, a:link, a:visited {
    display:block;
    text-decoration: none;
    color:white;
}

p {
    color: #162844;
    font-family: 'Saira Condensed';
    font-size:24px;
    text-align: left;
    font-weight: 100;
    word-spacing: 0px;
    letter-spacing: 0%;
    line-height: 110%;
}

h1, h2, h3 {
    font-family: 'Saira Condensed';
    word-spacing: 0;
    letter-spacing: 110%;
    font-weight: 700;
}

.ulhead {
    list-style-type: none;
    position:absolute;
    right:25px;
    top:25px;
    overflow: hidden;
}

button {
    font-family: 'Saira Condensed';
    margin-left: 30px;
    padding:10px
    background-color #162844;
    border: none;
    border-radius:10px
    transition all 0.3s ease 0s;
}

button:hover {
    background-color: slategrey;
}

.button2 {
    font-family: 'Saira Condensed';
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #2E5592;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-top: 10px;
}

.button2:hover {
    background-color: slategrey;
}

.nav_links {
    list-style: none;
}

.ulhead li {
    display: inline-block;
    padding: 0px 20px;
}

.ulhead li a {
    transition: all 0.3s ease 0s;
}

.ulhead li a:hover {
    color:grey;
}

.logo {
    cursor:pointer;
    position:absolute;
    left:40px;
    top:25px;
    height: 100px;
    width:400px;
}

.separator {
    width:0;
    height:0;
    border-left: 100vw solid transparent;
    border-bottom: 9.6vw solid white;
    margin-top:-9.6vw;
}

.textblueheader {
    font-family:"Saira Condensed", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color:#162844;
    margin-bottom: 20px;
}

.textwhiteheader {
    font-family:"Saira Condensed", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color:white;
}

.textwhitebody {
    font-family:"Saira Condensed", sans-serif;
    font-size: 24px;
    color:white;
}

.textbluebody {
    font-family:"Saira Condensed", sans-serif;
    font-size: 24px;
    color:#162844;
}

.containerdownloads {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.meat {
    padding: 100px;

}
