@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* To Do List:
-Fix Footer [x]
-Fix Link Buttons Color [x]
-Continue on Guide Page [x]
-Fix Mekanism:Generators Link on Guide Page Text Issue [x]
-Research Mb values [x]
-wind generator image [x]
-deleted unused CSS calls [x]
-redo about page []
-fix overlapping images on downloads []
-fix social media icons []
*/

/* Main File */
:root {
    font-family: 'Saira Condensed', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 110%;
    color:#162844;
}

*, html {
    margin:0;
}

@media (min-width: 900px) {
    :root {
        font-size: 1.25rem;
    }

    body {
        height: 100vh;
        overflow:hidden;
    }

    .opener {
        width: 100%;
        height: 30vh;
    }

    .text-col {
        margin-top: 150px;
        margin-bottom: 200px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .img {
        width:500px;
        height:350px;
    }
    
    .logo {
        margin-left:2.5rem;
        margin-top:1.5rem;
        width: 5vw;
        height: 5vh;
    }
}

/* Header */
.opener {
    background-image:url("https://i.ibb.co/S784VYQ/MainPage.png"), linear-gradient(90deg, rgba(22, 40, 68, 1), rgba(62, 91, 135, 1));
    position: relative;
    background-image: no-repeat;
    background-position: center left;
    background-size: 100%;
  }

.opener::before {
    content:'';
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12.5rem;
    background: white;
    clip-path:polygon(100% 20%, 0 100%, 100% 100%);
  }

.wrapper {
    padding: 1.8rem;
    background-color: #162844;
  }

ul {
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin: 0;
    padding: 0;
}

li {
    text-decoration:none;
    float: left;
    margin-bottom: 0.6rem;
    margin-top:0.6rem;
}

a, a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    display:block;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.ulhead {
    list-style-type: none;
    position:absolute;
    right:25px;
    top:25px;
    overflow: hidden;
}

button {
    margin-left: 1.8rem;
    padding:0.6rem;
    background-color: #162844;
    border: none;
    border-radius:0.6rem;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: slategrey;
}

.ulhead li {
    display: inline-block;
    padding: 0 1.25rem;
}

.ulhead li a {
    transition: all 0.3s ease 0s;
}

.ulhead li a:hover {
    color:grey;
}

.logo {
    cursor:pointer;
    position:absolute;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.one {
    background-color: green;
    position: relative;
}

.two {
    background: white;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9.7vw), 0 40%);
    margin-bottom: -9.85vw;
  }
  
.three {
    background: #162844;
    margin-bottom:-10vw;
  }

section.type-a {
    padding:0px;
}

section {
    padding: 10vh 0;
    background-color: white;
  }

.content {
    position: relative;
    max-width: 900px;
  }

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;

    background: hsla(224, 0%, 35%, 0.5);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
}

@media (max-width:35em){
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem);


    }
}






.textblueheader {
    font-weight: bold;
    font-size: 60px;
    color:#162844;
    margin-bottom: 20px;
}

.textwhiteheader {
    font-weight: bold;
    font-size: 32px;
    color:white;
}

.textwhitebody {
    font-size: 24px;
    color:white;
}
    
.textbluebody {
    color:#162844;
    font-size:30px;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 15%;
    line-height: 105%;
    font-weight:300;
}

.textbluebodybold {
    color:#162844;
    font-size:30px;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 15%;
    line-height: 105%;
    font-weight:500;
}

.container {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left:50px;
    background-color: white;
    position: relative;
}

.container-w {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left:0px;
    background-color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-b {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left:0px;
    background-color: powderblue;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-b::after,
.container-b::before {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: powderblue;
    bottom: -27px;
    z-index: 100;
}

.container-b::before {
    right:50%;
    transform: skew(0, 20deg);
}

.container-b::after {
    left: 50%;
    transform: skew(0, -20deg);
}

img {
    width:500px;
    height:350px;   
}

.guideimg {
    width:400px;
    height:350px; 
    padding: 10px;  
}

.img-col {
    flex-basis: 30%;
    padding: 10px;
    margin-left: 58px;
    
}

.img-col-r {
    flex-basis: 30%;
    padding: 10px;
    margin-right: 58px;
    
}

.text-col {
    margin-top: 150px;
    margin-bottom: 200px;
    margin-right: 100px;
    margin-left: 100px;
}

h1 {
    word-spacing: 0;
    letter-spacing: 110%;
    font-weight: 700;
}

h2 {
    color:#162844;
    font-size:40px;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 15%;
    line-height: 105%;
    font-weight:700;
}

h3 {
    color:#162844;
    font-size:30px;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 15%;
    line-height: 105%;
    font-weight:700;
}

p {
    color:#162844;
    font-size:30px;
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 15%;
    line-height: 105%;
    font-weight:300;
}

.buttonteachme {
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #2E5592;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-top: 15px;
}

.buttonteachme:hover {
    background-color: slategrey;
}

.containerdownloads {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.fueltable  {
    width: 150%;
    margin: 100px;
    margin-left: 150px;
    border: 10px;
    background-color: #162844;
    border: 1px solid #162844;
    text-align: center;
}

table, th, td {
    border: 1px solid #162844;
    
}

.tableheader {
    background-color: white;
}

.carbon {
    background-color: gray;
}

.redstone {
    background-color: tomato;
}

.diamond {
    background-color: lightskyblue
}

.gold {
    background-color: gold;
}

.biomass {
    background-color: green;
}

.tin {
    background-color: cadetblue;
}

.refinedobsidian {
    background-color: mediumpurple;
}

.any {
    background-color: bisque;
}

.containerguide {
    display: flex;

}

/* Footer */
.ulfoot {
    list-style-type: none;
    position:absolute;
    right:25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.footemail {
    position: absolute;
    left: 25px;
    margin-bottom: 10px;
    overflow:hidden;
    margin-top:20px;
}

.icons {
    position: absolute;
    right: 25px;
    margin-bottom: 10px;
    overflow:hidden;
    margin-top:5px;
}

.socialicons {
    margin-right:0;
    display:flex;
    justify-content: right;
    padding-right:50px;
}

.socialicons a {
    text-decoration:none;
    padding:10px;
    background-color:white;
    margin:10px;
    border-radius: 70%;
}

.socialicons a i {
    font-size: 30px;
    color: #162844;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: slategray;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.mail {
    font-size: 30px;
    padding: 20px 0px;
    display: left;
}