/* All Pages */
/* How to load external fonts into an HTML document? https://stackoverflow.com/questions/2237540/how-do-i-load-external-fonts-into-an-html-document */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', 'Tahoma', 'Verdana';
    list-style: none;
    text-decoration: none;
    color:#fff;
}

html {
    /* https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

/* Header */
header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 10px;
    background-image: url("https://i.ibb.co/HGLsDxR/mainimgae.webp");
    background-color: #162844;
    background-position: center left;
    background-size: 100%;
    position: relative;
}

/*Logo & Hamburger https://www.youtube.com/watch?v=IXucQAEkIMo&t=358s*/
.logo {
    font-size: 4em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    padding-right: 20px;
}


.hamburger {
    display: block;
    z-index: 5;
    cursor: pointer;
    position: relative;
    padding: 17px 0;
    background-color: transparent;
    margin-top: 1em;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #162844;
    overflow: hidden;
    font-weight: 700;

}

.nav-menu:visited,
.nav-menuresponsive:visited {
    color: white;
    background-color: transparent;
}

.nav-menuresponsive {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: fixed;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    transition: all .55s ease;
    color: white;
    background-color: #162844;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 4;
    padding: 1em;
}

.dropdown .dropbtn {
    font-size: 40px;
    font-weight: bold;
    line-height: 110%;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #162844;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    left: 0;
    justify-content: center;

}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: center;
}

.dropdown:hover {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Body */
img:not(.pickaxe img) {
    width:100%;
    border-radius: 2em;
    object-fit:contain;
    padding:1em;
}
video {
    width:100%;
    border-radius: 2em;
    object-fit:contain;
    padding:1em; 
}

.guide-img {
    margin-top:2em;
}

#bluetext {
    color: #162844;
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    color: #162844;
}

h2 {
    color: #162844;
    margin:1em;
}
.hero-text p {
    color: #162844;
    font-size: 20px;
    padding: 0.5em 1em;
}

.hero-text {
    color: #162844;
    text-align: center;
    line-height: 110%;
    font-weight: 300;
    word-spacing: 5px;
    margin:1em;
}


/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em;
    background: #162844;
    font-size: 17px;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0.5em;
}


/* Guide */

.pickaxe {
    position: fixed;
    right: 0.5em;
    bottom: 1em;
    z-index: 2;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

section.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

figcaption {
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    color: #162844;
    text-align: center;
}

.fueltable {
    background-color: #162844;
    border: 1px solid #162844;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    border-radius: 1%;
}

table,
th,
td {
    border: 1px solid #162844;
    color:#162844;
}

th,
tr {
    color: #162844;
}

thead {
    background-color: white;
}

.carbon {
    background-color: gray;
}

.redstone {
    background-color: tomato;
}

.diamond {
    background-color: lightskyblue
}

.gold {
    background-color: gold;
}

.biomass {
    background-color: green;
}

.tin {
    background-color: cadetblue;
}

.refinedobsidian {
    background-color: mediumpurple;
}

.any {
    background-color: thistle;
}

.container:nth-child(even) {
    background-color: powderblue;
    position: relative;
}

.container:nth-child(even):not(:last-child)::after,
.container:nth-child(even):not(:last-child)::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 50px;
    background: powderblue;
    bottom: -18px;
    z-index: -1;
}

.container:nth-child(even):not(:last-child)::before {
    right: 50%;
    transform: skew(0, 20deg);
}

.container:nth-child(even):not(:last-child)::after {
    left: 50%;
    transform: skew(0, -20deg);
}

#steel-ingots ul li:first-child {
    font-weight: bold;
}

#steel-ingots ul li {
    margin-top: 1em;
}

/* Downloads */
#download-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#download-container img {
    object-fit: contain;
}

/* Error */
#errorol li {
    text-decoration: dotted;
    color: #162844;
}

/* Media Queries */
@media only screen and (min-width: 980px) {

    .hamburger,
    .bar {
        display: none;
    }

    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1em 1em 2.5em 1em;
        background-image: url("https://i.ibb.co/HGLsDxR/mainimgae.webp");
        background-position: center left;
        background-color: #162844;
        background-size: 100%;
    }

    header::before {
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background: white;
        clip-path: polygon(250% 40%, 0 100%, 100% 100%);
    }

    .logo {
        margin-left: 0.5em;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        flex-grow: 4;
        justify-content: flex-end;
        position: unset;
        background-color: transparent;
        margin-top: 22px;
        margin-right: 20px;
        gap: 1em;
        top: 0;
        font-size: 40px;
    }

    .nav-menuresponsive {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 40px;
        font-weight: 700;
        line-height: 110%;
        transition: all .55s ease;
        color: white;
        background-color: #162844;
        text-align: center;
        z-index: 4;
        float: left;
    }

    .nav-menu a {
        font-weight: 700;
        transition: all .55s ease;
        margin: 0px;
        padding: 0px;
    }

    .dropdown-content {
        width: 7em;
        left: inherit;
        font-size: 30px;
    }

    .nav-menu a:hover,
    .dropbtn:hover {
        transform: translateY(-5px);
        transition: all 0.55s ease-in-out;
    }

    .dropdown-content a:hover {
        background-color: #162844;
        color: white;
    }

    section figure:not(#download-container figure, #main-page figure, #about-page figure) {
        padding-top: 5em;
    }

    section.container:not(#fuel-table) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    section.container#fuel-table {
        padding-top: 5em;
    }

    .hero-text {
        padding: 0 1em 0 1em;
        font-size: 24px;
        line-height: 130%;
    }

    .hero-text h2 {
        font-size: 40px;
        margin-top: 1em;
    }

    figcaption {
        font-size: 24px;
    }

    #ore-processing p {
        padding-right: 30px;
    }

    p.bold {
        margin: 1em;
    }
    img:not(.pickaxe img) {
        width:auto;
        border-radius: 2em;
        object-fit:contain;
        padding:1em;
    }
    .pickaxe {
        right: 1.5em;
        bottom: 1em;
    }

    #download-container {
        flex-direction: row;
        margin-top: 8em;
    }

    #download-container:not(img) {
        gap: 1em;
    }

    #download-container img {
        width: 100%;
    }

    #download-container figure img {
        border-radius: 2em;
        padding: 1em;

    }

    .footer {
        display: flex;
        flex-direction: row;
        font-size: 2em;
        padding: 2em;
        margin-top: 1em;
    }

    footer ul li {
        margin-left: 1em;
    }

    #email {
        justify-content: flex-start;
        font-size: 24px;
    }

    .socialicons {
        justify-content: flex-end;
        font-size: 30px;
    }

    #email,
    .socialicons {
        margin-top: 1em;
    }

    #email:hover,
    .socialicons li:hover {
        transform: translateY(-10px);
        transition: all 0.55s ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        flex-direction: row;
        height: 120px;
    }

    footer::before {
        display: block;
        position: absolute;
        content: '';
        top: -1px;
        left: 0;
        width: 100%;
        height: 111px;
        background: white;
        clip-path: polygon(0 0, 100% 0, -400% 150%, 0 0);
    }

    footer#downloadfooter::before {
        display: block;
        position: absolute;
        content: '';
        top: -1px;
        left: 0;
        width: 100%;
        height: 111px;
        background: powderblue;
        clip-path: polygon(0 0, 100% 0, -400% 150%, 0 0);
    }

    .container:nth-child(even)::after,
    .container:nth-child(even)::before {
        width: 150px;
        height: 150px;
        bottom: -27px;
    }

    section.container#main-page, #about-page {
        max-height: 40em;
        width: 100%;
    }

}

@media only screen and (min-width: 1450px) {
    section.container#main-page, #about-page {
        margin: 8em 0 5em 0;
    }

}