/* All Pages */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', 'Trebuchet MS', 'sans-serif';
    list-style: none;
    text-decoration: none;
}

html {
    /* https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body > footer {
    position:sticky;
    top: 100vh; /* This is causing the gap */
}

header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:10px 20px;;
    background-image: url("https://i.ibb.co/HGLsDxR/mainimgae.png");
    background-color: #162844;
    background-position: center left;
    background-size: 100%;
    position: relative;
}

img {
    object-fit: contain;
    border-radius: 1em;
    width:100%;
}

/*https://www.youtube.com/watch?v=IXucQAEkIMo&t=358s*/
.logo {
    font-size: 3em;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

/* Hamburger (also referenced from above link)*/
.hamburger {
    display: block;
    z-index: 12;
    cursor: pointer;
    position: relative;
    padding: 17px 0px;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
    display: none;
}
  
label {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color:white;
    font-size:24px;
    font-weight:700;
    line-height:110%;
}
  
  /*show the submenu when input is checked*/
input:checked~ul.submenu {
    display: block;
}
.nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    left: 0px;
    top:0px;
    width:100%;
    z-index: 10;
    background-color: #162844;
}

.nav-item {
    margin: 10px auto;
}

.nav-menu a {
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    transition: all .55s ease;
}

.submenu {
    position: static;
    width: 100%;
}

.submenu a {
    width: 95%;
    margin: 0 auto;
}

.nav-menu ul {
    flex-direction: column;
}

.nav-menu ul li {
    width: 100%;
}

.nav-menu ul li ul {
    position: relative;
    width: 100%;
}
header ul {
    position: relative;
}

header ul li {
    list-style: none;
    position: relative;
    float:left;
}
header ul li a {
    text-decoration: none;
    display:flex;
    justify-content: center;
}
header ul li ul {
    position: absolute;
    left:0;
    width:200px;
    background-color: #162844;
    display:none;
}
header ul li:active > ul {
    display:block;
}
header ul li ul li {
    position: relative;
    width:100%;
    /* box styling */
}
header ul li ul li ul {
    top:0;
    left:200px;
}
header nav {
    position: absolute;
    width:100%;
    left:0;
    display:none;
}
header.active nav{
    display: block;
    top:0;
}

header nav ul li {
    width: 100%;
}
header nav ul li ul {
    position:relative;   
    width:100%;
    left:0;
}
header ul li ul li ul {
    top:0;
    left:0;
}
header nav ul li ul li:hover {
    background-color: #264577;
}
header nav ul li ul li:hover ul li {
    background-color: #193058;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
                                                                  
footer a,
.nav-menu a,
.btn {
    color: white;
}

a:not(footer a):not(header a):not(.btn) {
    color: #162844;
}

figure {
    padding: 1em;
    width: 100%;
}

.hero-text {
    width: 100%;
    color: #162844;
    font-size: 20px;
    text-align: center;
    word-spacing: 2px;
    line-height: 110%;
    font-weight: 300;
}

.hero-text p {
    text-align: center;
    margin: 1em 0 1.5em 0;
    
}

.hero-text p a {
    font-weight: bold;
    text-decoration: none;
}

main {
    margin: 1em;
}

.btn {
    background-color: #162844;
    border: 1px solid transparent;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1em;
    text-transform: uppercase;
    transition: all .5s ease;
    padding: 10px;
}
h2.btn {
    background-color:#162844;
    border: 1px solid transparent;
    font-size: 24px;
    font-weight: 700;
    border-radius: 1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease;
    padding: 10px;
}
/* Ripple Effect referenced here https://codepen.io/finnhvman/post/pure-css-ripple-with-minimal-effort */
.btn:hover {
    background: #2E5592 radial-gradient(circle, transparent 1%, #162844 1%) center/15000%;
    transform: translateY(6px);
}

.btn:active {
    background-color: #2E5592;
    background-size: 100%;
    transition: 0s;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    background: #162844;
    font-size: 1.2em;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0.5em;
}

/* About */
video {
    width: 100%;
    height: 45vh;
}

/* Guide */
.pickaxe {
    position: fixed;
    right: 20px;
    bottom: 3vh;
    z-index: 500;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

section.container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}

section.type-a {
    padding: 0 19%;
}

figcaption {
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    color: #162844;
    text-align: center;
}
.fueltable {
    background-color: #162844;
    border: 1px solid #162844;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    border-radius: 1%;
}

table,
th,
td {
    border: 1px solid #162844;
}

th,
tr {
    color: #162844;
}

thead {
    background-color: white;
}

.carbon {
    background-color: gray;
}

.redstone {
    background-color: tomato;
}

.diamond {
    background-color: lightskyblue
}

.gold {
    background-color: gold;
}

.biomass {
    background-color: green;
}

.tin {
    background-color: cadetblue;
}

.refinedobsidian {
    background-color: mediumpurple;
}

.any {
    background-color: thistle;
}

main#main-guide {
    margin: 0;
}

main#main-guide section {
    padding: 3em 2em;
}

.container:nth-child(even) {
    background-color: powderblue;
    position: relative;
}

.container:nth-child(even)::after,
.container:nth-child(even)::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 50px;
    background: powderblue;
    bottom: -18px;
    z-index: -1;
}

.container:nth-child(even)::before {
    right: 50%;
    transform: skew(0, 20deg);
}

.container:nth-child(even)::after {
    left: 50%;
    transform: skew(0, -20deg);
}

#steel-ingots ul li:first-child {
    font-weight: bold;
}

#steel-ingots ul li {
    margin-top: 1em;
}
/* Downloads */
#download-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#download-container img {
    width: 50vw;
    object-fit: contain;
}

/* Media Queries */
@media only screen and (min-width: 980px) {
    .hamburger,
    .bar {
        display: none;
    }
    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1em 0 2.5em 1em;
        background-image: url("https://i.ibb.co/HGLsDxR/mainimgae.png");
        background-position: center left;
        background-color: #162844;
        background-size: 100%;
    }

    header::before {
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 180px;
        background: white;
        clip-path: polygon(400% 30%, 0 100%, 100% 100%);
    }
    .nav-menu {
        display:flex;
        flex-direction: row;
        
        margin-left:20vw;
        align-items: right;
        justify-content: right;
        position: unset;
        background-color: transparent;
        padding:15px;
    }
    .nav-link {
        font-size: 2.6em;
        display:inline;
    }
  
    .nav-menu a {
        font-weight: 700;
        transition: all .55s ease;
        margin:0px;
        padding:0px;
    }

    .nav-menu a:hover {
        color: powderblue;
    }

    header ul li a {
        color: white;
        font-size:20px;
        padding:15px 25px;
        text-decoration: none;
    }
    header ul li ul {
        position: absolute;
        left:0;
        width:200px;
        background-color: #162844;
       
    } 
    header ul li:hover > ul {
        display:block;
    }
    header ul li ul li {
        position: relative;
        width:100%;
    }
    header ul li ul li ul {
        top:0;
        left:200px;
    }
    header nav {
        position: absolute;
        width:100%;
        left:0;
        display:flex;
        flex-direction: row;
    }
    header.active nav{
        display: block;
        top:0;
    }
    
    header nav ul li {
        width: 100%;
    }
    header nav ul li ul {
        position:relative;   
        width:100%;
        left:0;
    }
    header ul li ul li ul {
        top:0;
        left:0;
    } 
    section.container:not(#fuel-table) {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    section.container#fuel-table {
        padding-top: 5em;
    }
    
    
    video {
        width: 100%;
    }
    
    #download-container {
        flex-direction: row;
    }
    
    #download-container img {
        width: 20vw;
    }
    
    .hero-text {
        margin: 1em 0 1.5em 0;
    }
    .hero-text h2 {
        text-decoration: none;
    }
    figure {
        padding: 1em;
    }
    figcaption {
        font-size:24px;
    }
    main {
        margin: 5em 1em 5em 1em;
    }
    .footer {
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        font-size:2em;
        margin-top:1em;
    }
}

@media only screen and (min-width: 1200px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 111px;
    }
    
    footer::before {
        display: block;
        position: relative;
        content: '';
        top: -1px;
        left: 0;
        width: 100%;
        height: 111px;
        background: white;
        clip-path: polygon(0 0, 100% 0, -400% 150%, 0 0);
    }

    .container:nth-child(even)::after,
    .container:nth-child(even)::before {
        width: 150px;
        height: 150px;
        bottom: -27px;
    }
}